.card {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 25px;
    color: #E9EAEA;
}

/* Hide the default checkbox */
.card input {
    visibility: hidden;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .check {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: 2px solid #E9EAEA;
    background-color: white;
}
.card input ~ .check {
 
  padding: 5x;
  background-color: #fff;
}
  .card:hover input ~ .check {
    background-color: lightcyan;
  }
  
  .card input:checked ~ .check {
    border-color: #8DD0FA;
  }

  /* Create the Check/indicator (hidden when not checked) */
.check:after {
    content: "";
    position: absolute;
    display: none;
  }

  .check .circle {
    background: #fff;
    width: 50%;
    height: 50%;
    display: block;
    line-height: 100%;
    text-align: center;
    top: 20%;
    border-radius: 50%;
    left: 20%;
    position: absolute;
    border: 1px solid #E9EAEA;
  }

  .card input:checked ~ .check .circle{
    background-color: #8DD0FA;
  }

  .checkedCard {
    color: #8DD0FA;
  }
  
  /* Show the check when checked */
  .card input:checked ~ .check:after {
    display: block;
  }
  